/* Adiciona uma margem entre o menu e a listagem */
.parcela-list-container {
  margin: 20px; /* Ajuste a margem conforme necessário */
}

.parcela-list-header {
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

/* Ajuste do h1 e dos controles do formulário */
.parcela-list-header h1 {
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

.parcela-list-header .row {
  width: 100%; /* Faz com que o conteúdo da linha ocupe toda a largura disponível */
}

.parcela-list-header .form-clientes {
}

/* Permite rolagem na lista de parcelas */
.parcelas-list {
  max-height: 98vh;
  overflow-y: auto;
}

/* Alinhamento horizontal do form */
.align-items-center {
  display: flex;
  justify-content: space-between;
}

/* Responsividade entre 768px e 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .parcela-list-container{
    
    margin-left: 60px;
  }
  
  
}
